<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário - LIST</title>
    <style>
        body{
            background-color:blanchedalmond;
        }
        
        table, td, th {
            border: solid 1px black;
        }
        td, th{
            padding: 20px;
        }
        th{
            font-weight: bold;
            background-color: gray;
        }
        form{
            margin-bottom: 10px;
        }
        #pesquisa{
            width: 400px;
        }
        form input, form select{
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

    <h1>Sistema de Cadastro de Usuário</h1>

    <ul>
        <li><a href="/usuario/add">Adicionar</a></li>
        <li><a href="/usuario/">Listar</a></li>
    </ul>