<%- include('../cabecalho') -%>

    <form method="post">
        Nome: <input type="text" name="nome" placeholder="Nome"><br>
        Email: <input type="email" name="email" placeholder="email@email.com"><br>
        Senha: <input type="password" name="senha" placeholder="Senha"><br>
        Foto: <input type="file" name="foto"><br><br>
        <input type="submit" name="Enviar">
    </form>
    <h2><%=msg%></h2>
    
<%- include('../rodape') -%>